<link rel="stylesheet" href="/coming-soon.css">
<div class="comming-soon-pagecss-body">
        <div class="comming-soon-pagecss-container">
          <a href="#" class="comming-soon-pagecss-a">Whose Best</a>
         <h2 class="comming-soon-pagecss-h2">COMING SOON</h2>
        </div>
</div>

