<link rel="stylesheet" href="/find-what-you-want.css">
<div class="find-what-you-want-do-page-container">
    <div class="find-what-you-want-do-page-container-one">

        <h1 class="find-what-you-want-do-page-h1">What You Can Find Here</h1>
        <section class="find-what-you-want-do-page-content-box">
            <section class="find-what-you-want-do-page-p-one">
                <h4>1</h4>
                <p>
                    On this platform, you can search for a wide variety of businesses and services.
                </p>
            </section>
            <section class="find-what-you-want-do-page-ul-main-section">
                    <h4>2</h4>
                    <p>We offer a wide range of categories, including:</p>
                    <ul class="find-what-you-want-do-page-ul" style="padding: 0;">
                        <li class="find-what-you-want-do-page-li">Restaurants</li>
                        <li class="find-what-you-want-do-page-li">Gyms</li>
                        <li class="find-what-you-want-do-page-li">Destination Wedding </li>
                        <li class="find-what-you-want-do-page-li">Fitness Centers</li>
                        <li class="find-what-you-want-do-page-li">And much more...</li>
                    </ul>
            </section>

            <section class="find-what-you-want-do-page-p-three">
            <h4>3</h4>
            <p>Simply use the search functionality to find the businesses and services that suit your needs.</p>
            </section>

    </div>
    <div class="find-what-you-want-do-page-container-two">

        <h1 class="find-what-you-want-do-page-h1">About "Find What You Want"</h1>
        <section class="find-what-you-want-do-page-content-box">
            <section class="find-what-you-want-do-page-p-one-of-one">
            <h4>1</h4>
            <p> This feature allows you to explore a wide range of businesses and services in various categories.
            Whether you’re in need of a delicious meal, a workout session,  we’ve got you
            covered.
            </p>
            </section>
            <section class="find-what-you-want-do-page-p-one-of-one">
            <h4>2</h4>
            <p>Our platform is designed to make it easier for you to find exactly what you're looking for,
            with detailed listings and information on each business.</p>
            </section>
        </section>

    </div>
</div>